body {
    font-family: calibri;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #585b5c;
}

.heading {
    display: inline-block;
    letter-spacing: 1px;
    left: 25%;
    width: 50%;
    position: absolute;
    text-align: center;
    top: 20%;
}

.heading h1 {
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    padding: 15px 5px;
    margin: 15px 0px 5px 0px;
    border-bottom: 1px solid #239dad;
    display: inline-block;
}

.heading p {
    margin: 2px;
}

.form {
    top: 33%;
    position: absolute;
    margin: 5px 0px;
    padding: 30px 50px;
    height: 90%;
    width: 92%;
}

.form h2 {
    text-align: center;
    color: #239dad;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.form .lhs {
    left: 20%;
    position: absolute;
}

.form .rhs {
    right: 20%;
    position: absolute;
}

.form .textbox {
    padding: 10px;
    margin: 5px 1px;
    width: 337px;
    background-color: #e9e9e9;
    border-width: 0px;
}

.form #small_textbox {
    padding: 10px;
    margin: 5px 1px;
    background-color: #e9e9e9;
    border-width: 0px;
    width: 200px;
}

.form .select {
    padding: 8px;
    margin: 5px 1px;
    width: 337px;
    background-color: #e9e9e9;
    border-width: 0px;
    color: #585b5c;
}

.form .range_slider {
    left: 20%;
    top: 70%;
    height: 15%;
    width: 60%;
    position: absolute;
    margin-bottom: 20px;
    border-bottom: 1px solid #239dad;
}

.form #slider {
    margin-top: 10px;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #e9e9e9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
}

.form img {
    height: 50px;
    width: 50px;
    top: 89%;
    left: 20%;
    position: absolute;
}

.form p {
    top: 89%;
    left: 26%;
    position: absolute;
}

.form #submit {
    top: 50%;
    left: 47%;
    position: absolute;
    background-color: #239dad;
    border-width: 0px;
    padding: 8px;
    color: #ffffff;
}

#lhs input {
    margin-bottom: 20px;
}

.row-left {
    margin-bottom: 15px;
    width: 400px;
}

.row-right {
    margin-bottom: 15px;
    width: 400px;
}

.error {
    color: red;
}

i {
    position: relative;
    right: 8%;
}