<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="content_area">
  <div class="heading">
    <h1>Register</h1>
  </div>
  <div class="form">
    <h2>Help Yourself!</h2>
    <form [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()" id="contact">
      <div class="lhs">
        <div class="row-left">
          <input class="textbox" #ref type="text" value="rwerwerewrew" name="firstName" placeholder="First Name*" formControlName="firstName"
          />
          <span class="error" *ngIf="RegistrationForm.controls['firstName'].touched && !RegistrationForm.controls['firstName'].valid && RegistrationForm.controls['firstName'].dirty">Invalid first Name </span>
        </div>

        <div class="row-left">
          <input class="textbox" type="text" name="contactNo" placeholder="Contact No*" formControlName="Contact">
          <span class="error" *ngIf="RegistrationForm.controls['Contact'].touched && !RegistrationForm.controls['Contact'].valid && RegistrationForm.controls['Contact'].dirty">Invalid conact</span>
        </div>
        <div class="row-left">
          <input class="textbox" [type]="type" name="password" placeholder="Password*" formControlName="Password" />
          <i (mouseup)="hide()" (mousedown) ="show()" class="fas fa-eye"></i>
          <span class="error" *ngIf="RegistrationForm.controls['Password'].touched && RegistrationForm.controls.Password.invalid && RegistrationForm.controls['Password'].dirty">Invalid Password</span>
        </div>
        <div class="row-left">
          <input class="textbox" type="text" name="gender" placeholder="Gender*" formControlName="Gender" />
          <span class="error" *ngIf="RegistrationForm.controls.Gender.touched && RegistrationForm.controls.Gender.invalid && RegistrationForm.controls['Gender'].dirty">Invalid gender</span>
          <!-- <span class="error" *ngIf="RegistrationForm.controls.Gender.">sfdsfdsfds</span> -->
        </div>
      </div>
      <div class="rhs">
        <div class="row-right">
          <input class="textbox" type="text" value name="lastName" placeholder="Last Name*" formControlName="lastName" />
          <span class="error" *ngIf="RegistrationForm.controls['lastName'].touched && !RegistrationForm.controls['lastName'].valid && RegistrationForm.controls['lastName'].dirty">Invalid last name</span>
        </div>
        <div class="row-right">
          <input class="textbox" type="text" name="email" placeholder="Email Address*" formControlName="Email" />
          <span class="error" *ngIf="RegistrationForm.controls['Email'].touched && !RegistrationForm.controls['Email'].valid && RegistrationForm.controls['Email'].dirty">Invalid email</span>
        </div>
        <div class="row-right">
          <input class="textbox" (keyup)="onKey($event)" [type]="type" name="cpassword" placeholder="Confirm Password*" formControlName="Cpassword"
          /><i (mouseup)="hide()" (mousedown) ="show()" class="fas fa-eye"></i>
          <span class="error" *ngIf="RegistrationForm.controls['Cpassword'].touched && !status && RegistrationForm.controls['Cpassword'].dirty">Passwords don't match</span>
        </div>
        <div class="row-right">
          <input class="textbox" type="text" name="emp_id" placeholder="Employee Id*" formControlName="eid" />
          <span class="error" *ngIf="RegistrationForm.controls['eid'].touched && !RegistrationForm.controls['eid'].valid && RegistrationForm.controls['eid'].dirty">Invalid employee id</span>
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="!RegistrationForm.valid || !status" id="submit">Submit</button>
      </div>

    </form>
  </div>
</div>