<div id="content">

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Contact</th>
      <th>Password</th>
      <th>Confirm Password</th>
      <th>Employee ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{fname}}</td>
      <td>{{lname}}</td>
      <td>{{gender}}</td>
      <td>{{contact}}</td>
      <td>{{password}}</td>
      <td>{{cpassword}}</td>
      <td>{{eid}}</td>
      <td>{{email}}</td>
     
    </tr>
  </tbody>
</table>

</div>
<button type="submit" (click)="onClick()" class="btn btn-primary">Edit</button>
