td,tr,th{
    border: 1px solid black;
    padding: 10px;

}
th{
    background: wheat;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
}
#content{
    top: 150px;
    position: relative;
    left: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
button{
    position: absolute;
    top: 40%;
    padding: 8px;
    background: #239dad;
    width: 50px;
    font-weight: bold;
    color:wheat;
    border: 1px solid black;
    left: 50%
}